/* general */
:root {
	--color-bg-search-bar: #e5e5e5;
	--color-bg-body: #f8f9fa;
	--color-side-bar: rgb(15, 38, 61);
	--color-nav-bar: #1b72e8;
}

body{
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
	font-size:0.9em;
}
.wrapper{
	height:100vh;
	width: 100%;
	background-color: var(--color-bg-body)
}
header{
	height:70px;
	width:100%;
}
main{
	width:100%;
	height:calc(100% - 70px);
	display:flex
}
#sidebar{
	height:100%;
	width:150px;
	background-color: var(--color-side-bar);
	background-image: url(../img/sidebar-bg.png);
	color: white;
	/* overflow:hidden */
}
#main-content{
	width:100%;
	overflow-y: auto;
}
.my-ul{
    padding:0;
}
#sidebar li{
	width:80%;
	margin: 0 auto;
	padding:10px 0;
	list-style-type: none;
}
header img{
	height:30px;
}
#sidebar li:first-of-type{
	margin-left: 10px
}
#sidebar li:hover{
	background-color:grey;
	cursor: pointer;
}
#logo-mobile{
	height:50px;
}
.my-bg-searchbar{
	background-color: var(--color-bg-search-bar);
}
table img{
	height: 25px;
}
td:first-of-type{
	width: 42%;
}
.nav-badge{
	background-color: rgba(15, 38, 61, 0.3);
	border-radius: 30px;
	padding: 0px 10px;
}
.my-button{
	padding: 5px 15px;
}
.nav-badge:hover{
	cursor: pointer;
}
.my-offcanvas{
	width: 50vw !important;
}
/* media query */
@media all and (max-width: 992px){
	#sidebar ul span{
		display:none
	}
	#sidebar{
		width: 100px;
	}
}
@media all and (max-width: 576px){
	.my-offcanvas{
        width:100vw !important;
	}
}